.class-1 {
  cursor: auto;
  
            height: 708px;
  
            padding: 0px;
  
            margin: 0px;
  
}

.class-2 {
  background-color: rgb(238, 238, 238);
  
            height: 708px;
  
            opacity: 0;
  
            position: fixed;
  
            transition: opacity 0.18s;
  
            width: 100vw;
  
            z-index: -10;
  
}

.class-3 {
  background-color: rgba(33, 33, 33, 0.5);
  
            height: 0px;
  
            left: 0px;
  
            opacity: 0;
  
            position: fixed;
  
            top: 0px;
  
            transition: opacity 0.18s, height 0.18s steps(1);
  
            width: 100vw;
  
            z-index: 110;
  
}

.class-4 {
  background-color: rgb(238, 238, 238);
  
            height: 0px;
  
            opacity: 0;
  
            padding: 14px 0px;
  
            position: fixed;
  
            right: 0px;
  
            top: 0px;
  
            transition: opacity 0.18s, width 0.18s, height 0.18s steps(1, start), visibility 0.18s steps(1, start), box-shadow 0.3s;
  
            visibility: hidden;
  
            width: 0px;
  
            z-index: 110;
  
}

.class-5 {
  margin: 0px -66px 0px 18px;
  
            color: rgba(0, 0, 0, 0.54);
  
            fill: rgba(0, 0, 0, 0.54);
  
            user-select: none;
  
            transition: background 0.3s;
  
            border: 0px none rgba(0, 0, 0, 0.54);
  
            border-radius: 50%;
  
            cursor: pointer;
  
            display: inline-block;
  
            flex-shrink: 0;
  
            height: 48px;
  
            outline: rgba(0, 0, 0, 0.54) none 0px;
  
            overflow: hidden;
  
            position: relative;
  
            text-align: center;
  
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
            width: 48px;
  
            z-index: 0;
  
}

.class-6 {
  background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12) 80%, rgba(0, 0, 0, 0) 100%);
  
            transform: matrix(0, 0, 0, 0, 0, 0);
  
            transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0s 0.2s;
  
            background-size: cover;
  
            left: 0px;
  
            opacity: 0;
  
            pointer-events: none;
  
            position: absolute;
  
            top: 0px;
  
            visibility: hidden;
  
}

.class-7 {
  position: relative;
  
            top: 50%;
  
}

.class-8 {
  top: -12pxdisplay:inline-block;
  
            position: relative;
  
}

.class-9 {
  color: rgb(109, 109, 109);
  
            fill: rgb(109, 109, 109);
  
            height: 24px;
  
            width: 24px;
  
            overflow: hidden;
  
}

.class-10 {
  margin-left: 404px;
  
            width: 720px;
  
            width: 720px;
  
            max-width: 720px;
  
            position: relative;
  
}

.class-11 {
  background-color: rgb(255, 255, 255);
  
            border-radius: 4px;
  
            box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  
            color: rgb(33, 33, 33);
  
            height: 48px;
  
            margin: 0px auto;
  
            max-width: 720px;
  
            padding: 0px;
  
            width: 100%;
  
            border: 0.8px solid rgba(0, 0, 0, 0);
  
            user-select: none;
  
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
            display: inline-block;
  
            outline: rgb(33, 33, 33) none 0px;
  
            padding-bottom: 0px;
  
}

.class-12 {
  height: 40px;
  
            position: relative;
  
            vertical-align: top;
  
}

.class-13 {
  display: flex;
  
            position: relative;
  
            top: 14px;
  
}

.class-14 {
  padding-right: 12px;
  
            box-sizing: border-box;
  
            height: 24px;
  
            line-height: 24px;
  
            position: relative;
  
}

.class-15 {
  display: block;
  
            margin-top: -13px;
  
            color: rgba(0, 0, 0, 0.54);
  
            fill: rgba(0, 0, 0, 0.54);
  
            user-select: none;
  
            transition: background 0.3s;
  
            border: 0px none rgba(0, 0, 0, 0.54);
  
            border-radius: 50%;
  
            cursor: pointer;
  
            flex-shrink: 0;
  
            height: 48px;
  
            outline: rgba(0, 0, 0, 0.54) none 0px;
  
            overflow: hidden;
  
            position: relative;
  
            text-align: center;
  
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
            width: 48px;
  
            z-index: 0;
  
}

.class-16 {
  background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12) 80%, rgba(0, 0, 0, 0) 100%);
  
            transform: matrix(0, 0, 0, 0, 0, 0);
  
            transition: opacity 0.2s, visibility 0s 0.2s, -webkit-transform 0s 0.2s;
  
            background-size: cover;
  
            left: 0px;
  
            opacity: 0;
  
            pointer-events: none;
  
            position: absolute;
  
            top: 0px;
  
            visibility: hidden;
  
}

.class-17 {
  position: relative;
  
            top: 50%;
  
}

.class-18 {
  top: -12pxdisplay:inline-block;
  
            position: relative;
  
}

.class-19 {
  color: rgb(97, 97, 97);
  
            fill: rgb(97, 97, 97);
  
            height: 24px;
  
            width: 24px;
  
            overflow: hidden;
  
}

.class-20 {
  display: none;
  
            height: 20px;
  
            margin-left: 12px;
  
            padding-right: 16px;
  
            width: 20px;
  
            position: relative;
  
}

.class-21 {
  position: absolute;
  
            width: 0px;
  
            height: 0px;
  
            overflow: hidden;
  
}

.class-22 {
  width: 100%;
  
            height: 100%;
  
}

.class-23 {
  border-color: rgb(66, 133, 244);
  
            position: absolute;
  
            width: 100%;
  
            height: 100%;
  
            opacity: 0;
  
}

.class-24 {
  display: inline-block;
  
            position: relative;
  
            width: 50%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(66, 133, 244);
  
}

.class-25 {
  border-right-color: rgba(0, 0, 0, 0);
  
            transform: none;
  
            position: absolute;
  
            inset: 0px;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(66, 133, 244);
  
            border-left-color: rgb(66, 133, 244);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 200%;
  
}

.class-26 {
  position: absolute;
  
            box-sizing: border-box;
  
            top: 0px;
  
            left: 45%;
  
            width: 10%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(66, 133, 244);
  
}

.class-27 {
  position: absolute;
  
            inset: 0px 0px 0px -450%;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(66, 133, 244);
  
            border-right-color: rgb(66, 133, 244);
  
            border-left-color: rgb(66, 133, 244);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 1000%;
  
            left: -450%;
  
}

.class-28 {
  display: inline-block;
  
            position: relative;
  
            width: 50%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(66, 133, 244);
  
}

.class-29 {
  left: -100%;
  
            border-left-color: rgba(0, 0, 0, 0);
  
            transform: none;
  
            position: absolute;
  
            inset: 0px 0px 0px -100%;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(66, 133, 244);
  
            border-right-color: rgb(66, 133, 244);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 200%;
  
}

.class-30 {
  border-color: rgb(219, 68, 55);
  
            position: absolute;
  
            width: 100%;
  
            height: 100%;
  
            opacity: 0;
  
}

.class-31 {
  display: inline-block;
  
            position: relative;
  
            width: 50%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(219, 68, 55);
  
}

.class-32 {
  border-right-color: rgba(0, 0, 0, 0);
  
            transform: none;
  
            position: absolute;
  
            inset: 0px;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(219, 68, 55);
  
            border-left-color: rgb(219, 68, 55);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 200%;
  
}

.class-33 {
  position: absolute;
  
            box-sizing: border-box;
  
            top: 0px;
  
            left: 45%;
  
            width: 10%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(219, 68, 55);
  
}

.class-34 {
  position: absolute;
  
            inset: 0px 0px 0px -450%;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(219, 68, 55);
  
            border-right-color: rgb(219, 68, 55);
  
            border-left-color: rgb(219, 68, 55);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 1000%;
  
            left: -450%;
  
}

.class-35 {
  display: inline-block;
  
            position: relative;
  
            width: 50%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(219, 68, 55);
  
}

.class-36 {
  left: -100%;
  
            border-left-color: rgba(0, 0, 0, 0);
  
            transform: none;
  
            position: absolute;
  
            inset: 0px 0px 0px -100%;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(219, 68, 55);
  
            border-right-color: rgb(219, 68, 55);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 200%;
  
}

.class-37 {
  border-color: rgb(244, 180, 0);
  
            position: absolute;
  
            width: 100%;
  
            height: 100%;
  
            opacity: 0;
  
}

.class-38 {
  display: inline-block;
  
            position: relative;
  
            width: 50%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(244, 180, 0);
  
}

.class-39 {
  border-right-color: rgba(0, 0, 0, 0);
  
            transform: none;
  
            position: absolute;
  
            inset: 0px;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(244, 180, 0);
  
            border-left-color: rgb(244, 180, 0);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 200%;
  
}

.class-40 {
  position: absolute;
  
            box-sizing: border-box;
  
            top: 0px;
  
            left: 45%;
  
            width: 10%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(244, 180, 0);
  
}

.class-41 {
  position: absolute;
  
            inset: 0px 0px 0px -450%;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(244, 180, 0);
  
            border-right-color: rgb(244, 180, 0);
  
            border-left-color: rgb(244, 180, 0);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 1000%;
  
            left: -450%;
  
}

.class-42 {
  display: inline-block;
  
            position: relative;
  
            width: 50%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(244, 180, 0);
  
}

.class-43 {
  left: -100%;
  
            border-left-color: rgba(0, 0, 0, 0);
  
            transform: none;
  
            position: absolute;
  
            inset: 0px 0px 0px -100%;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(244, 180, 0);
  
            border-right-color: rgb(244, 180, 0);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 200%;
  
}

.class-44 {
  border-color: rgb(15, 157, 88);
  
            position: absolute;
  
            width: 100%;
  
            height: 100%;
  
            opacity: 0;
  
}

.class-45 {
  display: inline-block;
  
            position: relative;
  
            width: 50%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(15, 157, 88);
  
}

.class-46 {
  border-right-color: rgba(0, 0, 0, 0);
  
            transform: none;
  
            position: absolute;
  
            inset: 0px;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(15, 157, 88);
  
            border-left-color: rgb(15, 157, 88);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 200%;
  
}

.class-47 {
  position: absolute;
  
            box-sizing: border-box;
  
            top: 0px;
  
            left: 45%;
  
            width: 10%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(15, 157, 88);
  
}

.class-48 {
  position: absolute;
  
            inset: 0px 0px 0px -450%;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(15, 157, 88);
  
            border-right-color: rgb(15, 157, 88);
  
            border-left-color: rgb(15, 157, 88);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 1000%;
  
            left: -450%;
  
}

.class-49 {
  display: inline-block;
  
            position: relative;
  
            width: 50%;
  
            height: 100%;
  
            overflow: hidden;
  
            border-color: rgb(15, 157, 88);
  
}

.class-50 {
  left: -100%;
  
            border-left-color: rgba(0, 0, 0, 0);
  
            transform: none;
  
            position: absolute;
  
            inset: 0px 0px 0px -100%;
  
            box-sizing: border-box;
  
            height: 100%;
  
            border-width: 2.4px;
  
            border-style: solid;
  
            border-top-color: rgb(15, 157, 88);
  
            border-right-color: rgb(15, 157, 88);
  
            border-bottom-color: rgba(0, 0, 0, 0);
  
            border-radius: 50%;
  
            animation: auto ease 0s 1 normal none running none;
  
            width: 200%;
  
}
